.appbar {
    background-color: #6FA4FF;
}

.menu-button {
    margin-right: 16px;
}

.title {
    flex-grow: 1;
    font-weight: bold;
}

.icon-group {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.icon-button {
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 15px;
    padding: 8px;
    color: #6FA4FF;
}

.icon-button:last-child {
    margin-right: 0;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-name {
    margin-left: 10px;
    margin-right: 8px;
    font-weight: bold;
}

.arrow-button {
    padding: 0;
    margin-left: 8px;
}

.mypage-link {
    color: #ffffff !important;
    text-decoration: none !important; /* 밑줄 제거 */
}

.mypage-link:hover .user-profile {
    background-color: rgba(255, 255, 255, 0.2) !important; /* 호버 시 배경색 변경 */
    border-radius: 10px !important;
    transition: background-color 0.3s !important;
}