body, html, #root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 0; /* Remove padding to ensure no extra space */
    transition: margin-left 0.3s;
}

.drawer {
    width: 250px;
    flex-shrink: 0;
}

.drawerPaper {
    width: 250px;
}

.appbar {
    z-index: 1400; /* Ensure it stays above other elements */
}

.backbar {
    z-index: 1300; /* Ensure it stays above the main content but below the AppBar */
    width: 100%; /* Ensure it takes the full width */
}
