.dorm-card {
  position: relative;
  height: 50vw; /* 뷰포트 너비에 따른 상대적 높이 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.big-image {
  align-items: center;
  padding-left: 5vh;
}

.small-image {
  align-items: center;
  padding-left: 3vh;
  padding-top: 35vh;
}

.dorm-card .character-image,
.dorm-card .icon-image {
  width: 100%;
  height: auto;
}

.dorm-card .character-image {
  max-width: 800px;
  min-width: 50px;
  max-height: 800px;
  min-height: 50px;
}

.dorm-card .icon-image {
  max-width: 300px;
  min-width: 3px;
  max-height: 300px;
  min-height: 3px;
}

.dorm-card .dorm-word {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
  justify-content: center;
  padding-left: 2vw;
}

.dorm-card .dorm-name {
  font-size: 7vw;
  color: black;
  font-weight: bold;
}

.dorm-card .dorm-description {
  font-size: 1.2vw;
  color: gray;
  text-align: left; /* Ensure text is left-aligned */
  margin-top: 2vw;
  margin-bottom: 25vw;
}

/* Specific styles for each dorm card */
.kuyper-card {
  background: linear-gradient(15deg, white 50%, #E1F4FF 50%);
}

.jangkiryeo-card {
  background: linear-gradient(0deg, white 50%, #F4E1E1 50%);
}

.rodem-card {
  background: linear-gradient(-15deg, white 50%, #E1F4E1 50%);
}

.carmichael-card {
  background: linear-gradient(0deg, white 50%, #DDC9AE 50%);
}

.torrey-card {
  background: linear-gradient(-15deg, white 50%, #F5E3BB 50%);
}

.bethel-card {
  background: linear-gradient(15deg, white 50%, #D8A2B2 50%);
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .dorm-card {
    align-items: center;
    justify-content: flex-start;
    height: auto;
  }

  .big-image {
    display: none; /* 큰 카드 숨김 */
  }

  .small-image {
    align-items: flex-start; /* 왼쪽 정렬 */
    padding: 3%;
  }

  .icon-image {
    width: 20%;
    max-width: none; /* 최대 크기 제한 해제 */
  }

  .dorm-word {
    align-items: flex-start; /* Align text to the start (left) on smaller screens */
    padding-left: 1vw;
  }

  .dorm-name {
    font-size: 5vw;
  }

  .dorm-description {
    font-size: 3vw;
  }
}
