signin-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-panel,
.right-panel {
  flex: 1;
}

.left-panel {
  background-color: #6fa4ff;
  padding: 5%;

}

.right-panel {
  padding: auto;
  border-radius: 50%;
}

.Sign-in-title {
  color: white;
}

.Sign-in-subTitle {
  color: white;
}

.Sign-in-dc {
  color: white;
}

.signin-box {
  background-color: white;
  max-width: 600px;
  margin: auto;
  /* 수평 가운데 정렬 */
  margin-top: 50px;
  /* 상단 여백 추가 */
  padding: 20px;
  border-radius: 3%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  /* 텍스트를 왼쪽으로 정렬 */
  position: relative;
  /* 부모 위치 지정 */
  top: 50%;
  /* 부모 요소의 상단에서 절반 높이만큼 이동 */
  transform: translateY(-50%);
  /* 부모 요소의 높이의 절반만큼 위로 이동하여 정확한 중앙 정렬 */
}

.signin-box h3,
.signin-box h1,
.signin-box button.link-button {
  display: inline-block;
  /* 인라인 블록 요소로 변경하여 좌측 정렬 */
  margin-left: 10px;
  /* 좌측 마진 제거 */
  margin-right: 20px;
  /* 오른쪽 마진 추가 (요소 사이의 간격 조정을 위해) */
}

.signin-box button.link-button {
  text-align: left;
  /* "No Account?" 텍스트를 왼쪽으로 정렬 */
  margin-top: 20px;
  /* 위쪽 여백 추가 */
}

.google-signin-btn {
  background-color: #4285F4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin: 20px 0;
}

.signup-link {
  margin-top: 20px;
}

.link-button {
  background: none;
  color: blue;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
}


.adminLoginButton {
  padding: 5px 15px; /* 버튼 내부의 상하, 좌우 패딩 */
  background-color: white; /* 배경색 */
  color: black; /* 글자색 */
  border: none; /* 테두리 제거 */
  border-radius: 20px; /* 모서리 둥글게 */
  text-decoration: none; /* 밑줄 없앰 */
  font-size: 15px; /* 글자 크기 */
  transition: background-color 0.3s, transform 0.3s; /* 색상 및 변형에 대한 전환 효과 */
}

.adminLoginButton:hover, .loginButton:focus {
  background-color: #6FA4FF; /* 호버 시 배경색 변경 */
  transform: translateY(-2px); /* 호버 시 약간 위로 이동 */
  cursor: pointer; /* 마우스 커서를 손가락 모양으로 변경 */
}