@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

.sidebar {
    width: 210px;
    background-color: #ffffff;
    border-right: 1px solid #e0e0e0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-header h1 {
    color: #0189EC;
    margin: 0;
}

.back-button {
    color: #0189EC;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.sidebar-menu {
    margin-top: 30px;
    padding-bottom: 30px;
}

.menu-link {
    text-decoration: none;
}

.menu-item {
    display: flex;
    align-items: center;
    border: 1px solid #0189EC;
    background-color: #ffffff;
    padding: 11px 20px;
    width: calc(100% - 40px);
    text-align: left;
    cursor: pointer;
    margin-bottom: 12px;
    border-radius: 10px;
    color: #0189EC;
}

.menu-group {
    margin-left: 30px;
    margin-bottom: 12px;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.menu-link.active .menu-item {
    background-color: #007BFF;
    color: #ffffff;
}

.menu-link.active .menu-item .menu-subtext {
    color: #ffffff;
}

.menu-icon {
    margin-right: 10px;
}

.menu-subtext {
    display: block;
    padding-top: 2px;
    font-size: 0.8rem;
    color: #555555;
}

.menu-item-content {
    display: flex;
    flex-direction: column;
}

.sidebar-communities {
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
}

.sidebar-communities h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin: 0;
}

.community-count {
    background-color: #007BFF;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
}

.community-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
}

.community-icon {
    margin-right: 10px;
}

.message-time {
    color: #aaaaaa;
    font-size: 0.8rem;
}

.message-badge {
    background-color: #ff5c5c;
    color: #ffffff;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 0.8rem;
}

.see-all {
    background: none;
    border: none;
    color: #007BFF;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
}
