.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: -15%; /* 이 부분은 필요에 따라 조정 */
    font-size: 35px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 30px;
    flex-grow: 1; /* 남은 공간을 차지하게 함 */
}

.MuiList-root {
    width: 100%;
}

.MuiListItemButton-root {
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    margin: 5px 0;
    transition: background-color 0.3s;
}

.MuiListItemButton-root:hover {
    background-color: #007bff;
}

.MuiListItemText-primary {
    text-align: center;
    color: #343a40;
    font-size: 16px;
    font-weight: 500;
}

.MuiListItemText-primary:hover {
    color: #007bff;
}