.team-matching-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-icon {
  margin-right: 10px;
}

.search-input {
  flex-grow: 1;
}

.tm-filters {
  display: flex!important;
  gap: 10px!important;
  margin-bottom: 20px!important;
}

.tm-filter-button {
  flex-grow: 1 !important;
  background-color: #f0f0f0 !important;
  color: #000 !important;
  border-radius: 20px !important;
  text-transform: none !important;
  padding: 5px 10px !important;
}

.tm-filter-button.selected {
  background-color: #6FA4FF !important;
  color: #fff !important;
}

.TM-team-content {
  display: flex;
  gap: 20px;
  background: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
}

.my-team-section {
  margin-bottom: 20px;
}

.my-team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: none; /* 그림자 제거 */
}

.my-team-photo {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.detail-button {
  margin-top: 10px;
}

.matching-section {
  margin-bottom: 20px;
}

.match-card {
  margin-bottom: 10px;
  box-shadow: none; /* 그림자 제거 */
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: none; /* 그림자 제거 */
}

.team-photo {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.team-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.team-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.tm-floating-button {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  background-color: #6FA4FF !important;
  color: white !important;
  padding: 10px 20px !important;
  border-radius: 50px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
}
