.team-matching-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding-left: 1%;
  padding-right: 1%;
}

.search-icon {
  margin: 10px 10px;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 10px; /* 패딩을 추가하여 높이를 맞춥니다 */
  border-radius: 50px; /* border-radius를 추가하여 모양을 둥글게 만듭니다 */
}


.tm-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: flex-start; /* 왼쪽 정렬 */
  align-items: flex-start; /* 위쪽 정렬 */
}

.tm-filter-button {
  background-color: #f0f0f0!important;
  color: #000!important;
  border-radius: 50px!important;
  text-transform: none!important;
  padding: 10px 20px!important; /* 버튼 크기 조정 */
  font-size: 1rem!important; /* 버튼 글씨 크기 조정 */
}

.tm-filter-button.selected {
  background-color: #1e88e5!important;
  color: #fff!important;
}


.TM-team-content {
  display: flex;
  gap: 20px;
  background: none;
  padding: 0;
  box-shadow: none;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
}

.my-team-section {
  margin-bottom: 20px;
}

.my-team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: none; /* 그림자 제거 */
}

.my-team-photo {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.detail-button {
  margin-top: 10px;
}

.matching-section {
  margin-bottom: 20px;
}

.match-card {
  margin-bottom: 10px;
  box-shadow: none; /* 그림자 제거 */
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: none; /* 그림자 제거 */
}

.team-photo {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.team-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.team-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.tm-floating-button {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  background-color: #6FA4FF !important;
  color: white !important;
  padding: 10px 20px !important;
  border-radius: 50px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
}
